# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Flask specific files
instance/
*.db

# IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
